services:
  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./:/app
      - /app/node_modules
      - ./config:/app/config
      - ./migrations:/app/migrations
    networks:
      - app-network

  db:
    image: postgres:12
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
  ackee:
    image: electerious/ackee
    container_name: ackee
    restart: always
    ports:
      - "3001:3000"
    environment:
      - ACKEE_USERNAME=${ACKEE_USER}
      - ACKEE_PASSWORD=${ACKEE_PASSWORD}
      - ACKEE_MONGODB=mongodb://mongo:27017/ackee
      - ACKEE_ALLOW_ORIGIN=http://184.73.230.40/:3000
      - ACKEE_IGNORE_LOCALHOST=false
      - ACKEE_CORS_ORIGIN_LIST=http://184.73.230.40:3000
    depends_on:
      - mongo
  mongo:
    image: mongo:4
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  postgres-data:
  mongo_data:

networks:
  app-network:
    driver: bridge