
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 580px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #6e48aa, #9d50bb);
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

#drop-area:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(145deg, #9d50bb, #6e48aa);
    border-radius: 21px;
    transition: all 0.4s ease;
}

#drop-area.highlight {
    border-color: #fff;
    background: linear-gradient(145deg, #ff416c, #ff4b2b);
}

.dropfile-form {
    text-align: center;
    width: 100%;
}


#file-upload-list {
    margin-top: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.file-upload-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background 0.3s ease;
}

.file-upload-list-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.remove-file {
    color: #ff4b2b;
    cursor: pointer;
    transition: color 0.3s ease;
}

.remove-file:hover {
    color: #ff416c;
}


#files-to-upload{
  display: none;
}

#drop-area {
    background: #283048; /* Fondo oscuro para resaltar los colores */
    border: 2px dashed #ccc; /* Borde más llamativo */
    border-radius: 20px;
    width: 100%; /* Adaptabilidad al ancho del contenedor */
    max-width: 580px; /* Máximo ancho para no perder forma */
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 0.4s, border-color 0.4s; /* Suaviza las transiciones */
}

/* Mejoras en la interactividad al arrastrar archivos */
#drop-area.highlight {
    background: #34495e; /* Fondo más claro al arrastrar archivos */
    border-color: #9b59b6; /* Borde resaltado */
}

/* Mejoras en la lista de archivos para una mejor legibilidad y estética */
.file-upload-list-item {
    background: rgba(255, 255, 255, 0.05); /* Sutil transparencia para no saturar */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde casi invisible */
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.file-upload-list-item:hover {
    background: rgba(255, 255, 255, 0.1); /* Ligeramente más visible al pasar el mouse */
}

/* Estilos específicos para iconos y botones dentro de la lista de archivos */
.remove-file {
    color: #e74c3c; /* Color más alerta para la acción de eliminar */
}

.remove-file:hover {
    color: #c0392b; /* Oscurecimiento al pasar el mouse */
}