@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles or Tailwind CSS overrides here */
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 1rem;
  z-index: 100;
}

/* .btn {
  border-radius: var(--rounded-btn, 0.1rem);
  min-height : var(--min-height-btn, 2rem);
} */

.bg-fc-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(29 36 60 / var(--tw-bg-opacity));
}


.cursor-pointer {
  cursor: pointer;
}


section {
  padding-top: 80px; 
}

#register-content, #login-content {
  display: none;
}

.alert {
  display: block;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 4rem;
  margin-top: 1rem;
  background-color: blue;
}

.alert-success {
  display: block;
  padding: 1rem;
  border: 1rem solid green;
  border-radius: 4rem;
  margin-top: 1rem;
  background-color: green;

}

.alert-error {
  display: block;
  padding: 1rem;
  border: 1rem solid red;
  border-radius: 4rem;
  margin-top: 1rem;
  background-color: red;

}

/* Styling for the background pattern */
/* main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#c7c7c7 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#c7c7c7 0.8500000000000001px, #ffffff 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
  z-index: -1;
  pointer-events: none;
} */

