@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles or Tailwind CSS overrides here */
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 1rem;
  z-index: 100;
}

/* .btn {
  border-radius: var(--rounded-btn, 0.1rem);
  min-height : var(--min-height-btn, 2rem);
} */

.bg-fc-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(29 36 60 / var(--tw-bg-opacity));
}


.cursor-pointer {
  cursor: pointer;
}


section {
  padding-top: 80px; 
}

#register-content, #login-content {
  display: none;
}

.alert {
  display: block;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 4rem;
  margin-top: 1rem;
  background-color: blue;
}

.alert-success {
  display: block;
  padding: 1rem;
  border: 1rem solid green;
  border-radius: 4rem;
  margin-top: 1rem;
  background-color: green;

}

.alert-error {
  display: block;
  padding: 1rem;
  border: 1rem solid red;
  border-radius: 4rem;
  margin-top: 1rem;
  background-color: red;

}

.bg-texture {
  background-color: #ffffff;
  opacity: 0.4;
  background: linear-gradient(135deg, #b5bdfc55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #b5bdfc 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #b5bdfc55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #b5bdfc 25%, #ffffff 25%) 0px 0/ 80px 80px;
  position: relative;
  z-index: 0;
}
