@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles or Tailwind CSS overrides here */
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 1rem;
  z-index: 100;
}

.img-thumbnail {
  width: 14rem !important;
  height: 10rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* Override DaisyUI default 2rem padding on card body */
.card-body {
  padding: 1rem;
}

/* Override DaisyUI border radius default property for hero-content */
.hero-content {
  border-radius: 2rem;
}


#register-content, #login-content {
  display: none;
}


/* Styling that adds a background pattern */
/* main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#c7c7c7 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#c7c7c7 0.8500000000000001px, #ffffff 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
  z-index: -1;
  pointer-events: none;
} */

