@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles or Tailwind CSS overrides here */
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 1rem;
  z-index: 100;
}

.footer {
  column-gap: 0.15rem;
  row-gap: 1rem;
}

.table :where(thead, tfoot) {
  font-size: 0.95rem;
}

.img-thumbnail {
  width: 5rem !important;
  height: 4rem !important;
}

.about-img {
  opacity: 1 !important;
}

/* TODO: mostrarle a nando como tailwind no funca en server response al menos que este hard-coded (certain things) */
.btn-success-custom {
  background-color: #84CC7D;
}

.cursor-pointer {
  cursor: pointer;
}

/* Override DaisyUI default 2rem padding on card body */
.card-body {
  padding: 1.25rem;
}

/* Override DaisyUI border radius default property for hero-content */
.hero-content {
  border-radius: 2rem;
}

#register-content, #login-content {
  display: none;
}

.pb-34 {
  padding-bottom: 8.5rem/* 128px */;
}

.mx-4 {
  margin-left: 1rem/* 16px */;
  margin-right: 1rem/* 16px */;
}

.mx-8 {
  margin-left: 2rem/* 32px */;
  margin-right: 2rem/* 32px */;
}

video {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 100vw;
  height: 56.25vw; /* 16:9 aspect ratio */
  min-height: 100dvh;
  min-width: 177.77vh; /* 16:9 aspect ratio */
}

#safari-video {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 100vw;
  height: 56.25vw; /* 16:9 aspect ratio */
  min-height: 100dvh;
  min-width: 177.77vh; /* 16:9 aspect ratio */
  background-image: url("../assets/videos/skyline.mp4");
}

.tab {
  font-weight: 600;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #283048;
  color: #fff;
  transition: all 0.4s ease;
}

#drop-area.highlight {
  border-color: #fff;
  background: #34495e;
}

#file-upload-list {
  margin-top: 10px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.file-upload-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: background 0.3s ease;
}

.file-upload-list-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.remove-file {
  color: #e74c3c;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-file:hover {
  color: #c0392b;
}
