<!DOCTYPE html>
<html class="h-full" data-theme="mytheme">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flash Center</title>
  <link rel="icon" href="./assets/icons/favicon.ico" type="image/x-icon">
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    as="style">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link href="./css/output.css" rel="stylesheet">
  <script src="./js/fileDownloadAll.js"></script>
</head>

<body>
  <header>
    <nav hx-get="components.html" hx-select="#user-panel-navbar-component" hx-trigger="load"></nav>
  </header>
  <main>
    <div id="admin-panel-component" class="flex flex-col h-full min-h-screen items-center pt-20 bg-neutral">
      <div class="w-full max-w-4xl py-4">
        <!-- Admin personal info -->
        <div class="card bg-base-100 shadow-xl mb-6">
          <div class="card-body">
            <div id="user-info" hx-get="/check-login-admin" hx-trigger="load" hx-swap="innerHTML">
              <!-- Dynamic user info will be loaded here -->
              <!-- The loading placeholders can be removed or customized as per design -->
              <div class="flex justify-center items-center">
                <div class="loader">Loading user information...</div>
              </div>
            </div>
          </div>
        </div>
        <!-- List of all Flash Center users -->
        <div id="list-of-users" class="card bg-base-100 shadow-md my-10">
          <div class="card-body">
            <h2 class="card-title font-semibold">Lista de Usuarios</h2>
            <div id="user-table-container" hx-get="/users" hx-trigger="load">
              <!-- User list table will be dynamically inserted here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>