<!DOCTYPE html>
<html class="h-full" data-theme="mytheme">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Center</title>
    <link rel="icon" href="./assets/icons/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        as="style">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="./css/output.css" rel="stylesheet">
    <script src="./js/fileDownloadAll.js" defer></script>
    <script src="./js/login.js"></script>
</head>

<body>
    <header>
        <nav hx-get="components.html" hx-select="#user-panel-navbar-component" hx-trigger="load"></nav>
    </header>
    <main>
        <div id="admin-panel-component" class="flex flex-col h-full min-h-screen items-center pt-32 bg-accent">
            <div class="w-full max-w-5xl py-4">
                <!-- Admin personal info -->
                <div class="card bg-base-100 shadow-md mb-6">
                    <div class="card-body">
                        <div id="admin-info" hx-get="/users/admin" hx-trigger="load" hx-swap="innerHTML">
                            <!-- Dynamic user info will be loaded here -->
                            <div class="flex justify-center items-center">
                                <div class="loader">Loading user information...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- List of all Flash Center users -->
                <div id="list-of-users" class="card bg-base-100 my-10">
                    <div class="card-body">
                        <h2 class="card-title font-semibold pl-2 pb-4 justify-center">
                            Lista de Usuarios
                        </h2>
                        <div class="flex justify-center mb-4">
                            <input type="search" id="search-input" name="search-input" class="input input-bordered"
                                placeholder="Buscar por nombre" hx-get="/users/search" hx-trigger="keyup changed delay:500ms"
                                hx-target="#user-table-body" hx-include="this" hx-indicator="#spinner">
                        </div>
                        <div class="overflow-x-auto md:overflow-visible">
                            <table class="table text-l text-center">
                                <thead>
                                    <tr>
                                        <th>C.I. o RUC</th>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th>Administrador</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <!-- Container for list of users -->
                                <tbody id="user-table-body" hx-get="/users" hx-trigger="load">
                                    <!-- User table rows will be dynamically inserted here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>