<!-- Navbar -->
<nav id="top-navigation-component" class="navbar bg-primary font-bold text-white shadow-xl flex">
  <div class="navbar-start">
    <div class="dropdown">
      <button tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </button>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-52">
        <li><a href="#home">Inicio</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#faq">Preguntas Frecuentes</a></li>
        <li><a href="#about">Nosotros</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost flex-initial w-80">
      <img src="./assets/img/logo-blanco.png" alt="Flash Center" class="navbar-logo object-scale-down w-80 h-6">
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal">
      <li><a href="#home" class="text-md">Inicio</a></li>
      <li><a href="#services" class="text-md">Servicios</a></li>
      <li><a href="#faq" class="text-md">Preguntas Frecuentes</a></li>
      <li><a href="#about" class="text-md">Nosotros</a></li>
      <li><a href="#contact" class="text-md">Contacto</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <div class="lg:flex">
      <a class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md mr-1" id="registerButton" href="#register">Registro</a>
      <a class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md" id="loginButton" href="#login">Iniciar sesión</a>
      <a class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md hidden" id="logoutButton" href="/">Cerrar sesión</a>
    </div>
  </div>
</nav>



<!-- User Panel Navbar -->
<nav id="user-panel-navbar-component" class="navbar bg-primary font-bold text-white shadow-xl flex">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost flex-initial w-80">
      <img src="./assets/img/logo-blanco.png" alt="Flash Center" class="navbar-logo object-scale-down w-80 h-6">
    </a>
  </div>
  <div class="navbar-end">
    <div class="lg:flex">
      <a href="/" onclick="logout()" id="logoutButton" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-md mr-1">Cerrar
        Sesión</a>
    </div>
  </div>
</nav>



<!-- Home section with background-->
<div id="home-component" class="hero min-h-screen">
  <video autoplay muted loop class="absolute -z-10 w-full h-full object-cover">
    <source src="./assets/img/skyline-video.mp4" type="video/mp4">
  </video>
  <div class="hero-content backdrop-grayscale bg-secondary/60 text-center text-base-100 p-8 md:p-12 lg:p-16">
    <div class="max-w-3xl">
      <h2 class="mb-5 text-3xl font-semibold">Obten tu credito pre aprobado en menos de 24hs</h2>
      <p class="mb-5 text-xl">Acompanhamos en la busqueda del producto ideal, a cada cliente, en cualquier parte del
        mundo.
        Salvaguardamos su interes,
        garantizando un trato simple y efectivo. En menos de 5 minutos te decimos si contas con una pre-aprobacion</p>
      <a href="#register"
        class="btn btn-accent btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg text-white font-bold">SOLICITA TU
        CREDITO</a>
    </div>
  </div>
</div>



<!-- Call to Action Section -->
<section id="call-to-action-component" class="py-28">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <h2 class="text-2xl font-bold mb-4">Todavia no sos cliente? Crea tu cuenta en minutos!</h2>
    <!-- <p class="pb-8">Crea tu cuenta de Flash Center y solicita tu prestamo online</p> -->
    <a href="#register"
      class="btn btn-primary btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg text-white font-extrabold">CREA TU CUENTA</a>
  </div>
</section>




<!-- Services Section -->
<div id="services-component">
  <div class="text-center">
    <h1 class="text-3xl font-bold pb-12 tracking-widest">NUESTROS PRODUCTOS</h1>
    <div class="border-b border-white mx-auto w-full sm:max-w-lg md:max-w-md lg:mx-auto xl:mx-auto">
    </div> <!-- Controls the white line under title -->
    <div class="grid md:grid-cols-2">
      <div class="px-0 mb-4">
        <img src="./assets/icons/dollar-bills.svg" alt="Icono de Billetes" class="mx-auto mb-6 w-20 h-20">
        <h3 class="text-xl font-bold mb-1">Prestamos Personales</h3>
        <p class="text-lg">Mínimo: Gs. 500.000</p>
        <p class="text-lg">Máximo: Gs 15.000.000</p>
      </div>
      <div class="px-0 mb-4">
        <img src="./assets/icons/piggy-bank.svg" alt="Icono de Alcancia" class="mx-auto mb-6 w-20 h-20">
        <h3 class="text-xl font-bold mb-1">Financiamiento</h3>
        <p class="text-lg">Plazos de pago desde 6 meses<br>hasta 15 meses</p>
      </div>
    </div>
    <div class="mt-8">
      <img src="./assets/icons/bank-building.svg" alt="Icono de Edificio Bancario" class="mx-auto mb-5 w-20 h-22">
      <h3 class="text-xl font-bold mb-1">Tasa Efectiva Anual (TEA):</h3>
      <p class="text-lg">Máximo permitido por el<br>Banco Central de Paraguay y<br>la normativa correspondiente: 30.27%
      </p>
    </div>
    <!-- <div class="mb-4">
        //TODO: move this info to small font in the foter
        <h3 class="text-xl font-bold mb-1">Información Adicional:</h3>
        <p class="text-lg">La información proporcionada sobre los préstamos es únicamente a título informativo.</p>
        <p class="text-lg">No constituye una oferta y está sujeta a cambios sin previo aviso al momento de solicitar los
          préstamos. Está sujeta a las políticas de mercado y/o internas de la entidad financiera.</p>
      </div> -->
  </div>
</div>

<!-- Loan Calculator -->
<div id="loan-calculator-component">
  <div class="card mr-auto max-w-sm shadow-xl">
    <div class="card-body flex min-h-full flex-col items-center">
      <h3 class="card-title font-semibold text-2xl">Simulá tu préstamo</h3>
      <div class="border-b border-black mx-auto w-full sm:max-w-lg md:max-w-md lg:mx-auto xl:mx-auto"></div>
      <!-- Controls the white line under title -->
      <div class="flex flex-col items-center mt-4">
        <div class="form-control w-full max-w-md">
          <label class="label">
            <span class="label-text">¿Cuál es tu ocupación?</span>
          </label>
          <select id="occupation" class="select select-bordered">
            <option value="">Seleccióná</option>
            <option value="employed">Empleado</option>
            <option value="self-employed">Trabajador independiente</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div class="form-control w-full max-w-md mt-4">
          <label class="label">
            <span class="label-text">Monto Prestamo (Gs)</span>
            <span id="loanOutput" class="label-text-alt"></span>
          </label>
          <input type="range" id="amount" min="1000000" max="10000000" value="1000000" class="range range-primary"
            step="500000" />
          <div class="w-full flex justify-between text-xs px-2">
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
          </div>
        </div>
        <div class="form-control w-full max-w-md mt-4">
          <label class="label">
            <span class="label-text">¿En cuántas cuotas querés pagarlo?</span>
            <span id="monthsOutput" class="label-text-alt"></span>
          </label>
          <input type="range" id="days" min="1" max="12" value="1" class="range range-secondary" step="1" />
          <div class="w-full flex justify-between text-xs px-2">
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
            <span>|</span>
          </div>
        </div>
        <div class="mt-4 text-center">
          <p>T.A.N: <span id="interest-rate"></span></p>
          <p>T.A.E: <span id="apr"></span></p>
          <p>Gastos administrativos: 10% Comisión: 18%</p>
          <p class="font-bold">Cuota estimada de: <span id="amount2"></span></p>
          <p>Sujeto a política crediticia de la entidad</p>
        </div>
        <a id="registerRedirect" href="#register" class="btn btn-primary mt-4 font-extrabold text-white">¡Solicitar
          ya!</a>
      </div>
    </div>
  </div>
</div>



<!-- FAQ Accordion -->
<section id="faq-accordion-component"
  class="mx-auto py-12 bg-gradient-to-b from-secondary to-[#1C2E48] text-base-100 z-10">
  <div class="text-center mb-12 max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold pb-8">PREGUNTAS FRECUENTES</h1>
    <div class="border-b border-white mx-auto w-full sm:max-w-lg md:max-w-md lg:mx-auto xl:mx-auto">
    </div> <!-- Controls the white line under title -->
  </div>
  <div id="accordion-item-list" class="space-y-4 max-w-3xl mx-auto">
    <details class="collapse collapse-arrow shadow mx-auto max-w-3xl">
      <summary class="collapse-title text-xl font-bold text-center bg-accent">
        ¿POR QUÉ CRÉDITO FLASH?
      </summary>
      <div class="collapse-content py-6 bg-base-100">
        <p class="text-center text-lg text-black">Porque tenemos la respuesta mas inmediata del mercado, ya
          que contamos con un
          proceso de
          aprobación de créditos 100% digital</p>
      </div>
    </details>
    <details class="collapse collapse-arrow shadow mx-auto max-w-3xl">
      <summary class="collapse-title text-xl font-bold text-center bg-accent">
        ¿QUÉ DOCUMENTACIÓN NECESITO?
      </summary>
      <div class="collapse-content py-6 bg-base-100">
        <p class="text-center text-lg text-black">Necesitás comprobante de ingresos, comprobante de domicilio, recibos
          de servicios
          (como Copaco,
          ANDE,
          ESSAP, etc.) y Cédula de Identidad</p>
      </div>
    </details>
    <details class="collapse collapse-arrow shadow mx-auto max-w-3xl">
      <summary class="collapse-title text-xl font-bold text-center bg-accent">
        ¿CÓMO LO SOLICITO?
      </summary>
      <div class="collapse-content py-6 bg-base-100">
        <p class="text-center text-lg text-black">¡Es muy fácil! Podés solicitar tu credito completando el formulario de
          arriba y
          con solo
          5 datos, te damos el monto habilitado.</p>
      </div>
    </details>
    <details class="collapse collapse-arrow shadow mx-auto max-w-3xl">
      <summary class="collapse-title text-xl font-bold text-center bg-accent">
        ¿DÓNDE LO RETIRO?
      </summary>
      <div class="collapse-content py-6 bg-base-100">
        <p class="text-center text-lg text-black">Lo retirás en cualquiera de los locales que tenemos disponibles.</p>
      </div>
    </details>
  </div>
</section>



<!-- About Section -->
<div id="about-component" class="bg-cover bg-center py-28"
  style="background-image: url('./assets/img/cde-skyline.jpg')">
  <div class="max-w-4xl mx-auto flex items-center h-full">

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body text-center">
        <h1 class="text-3xl font-bold mb-4 text-center">ACERCA DE FLASH CENTER</h1>
        <p class="text-lg">Flash Center es una empresa paraguaya 100% digital centrada en el microcrédito. Otorgamos
          préstamos al
          consumidor a través de un proceso 100% digital, agilizando el proceso de aprobación.</p>

        <div class="grid md:grid-cols-3 gap-10">
          <div>
            <h2 class="text-xl font-bold mt-6">MISION</h2>
            <p class="text-lg">Impulsar la calidad de vida de nuestros colaboradores, clientes, accionistas y a la
              sociedad, a través de
              productos financieros.</p>
          </div>
          <div>
            <h2 class="text-xl font-bold mt-6">VISION</h2>
            <p class="text-lg">Ser una banca contribuyente al estado y su gente.</p>
          </div>
          <div>
            <h2 class="text-xl font-bold mt-6">VALORES</h2>
            <p class="text-lg">Accesibilidad<br>Agilidad<br>Amabilidad<br>Lealtad<br>Respeto</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- Footer -->
<nav id="bottom-navigation-component" class="footer p-10 bg-secondary font-bold text-white">
  <div>
    <img src="./assets/img/logo-blanco.png" alt="Flash Center" class="footer-logo object-scale-down w-80 h-6">
  </div>
  <nav>
    <h2 class="footer-title text-lg">Servicios</h2>
    <a href="#register" class="link link-hover text-base">Crea tu cuenta</a>
    <a href="#home" class="link link-hover text-base">Solicita tu credito</a>
  </nav>
  <nav>
    <h2 class="footer-title text-lg">Empresa</h2>
    <a href="#about" class="link link-hover text-base">Nosotros</a>
    <a href="#contact" class="link link-hover text-base">Contacto</a>
    <a href="#jobs" class="link link-hover text-base">Unete al equipo</a>
  </nav>
  <nav>
    <h2 class="footer-title text-lg">Legal</h2>
    <a href="#terms" class="link link-hover text-base">Términos y condiciones</a>
    <a href="#privacy" class="link link-hover text-base">Políticas de privacidad</a>
  </nav>
</nav>



<!-- Forms -->
<section id="forms">

  <!-- Login Form -->
  <div id="login-form-component" class="pt-36">
    <div class="card m-auto max-w-sm shadow-xl">
      <form id=login-form class="card-body flex min-h-full flex-col justify-center lg:px-8" hx-post="/login">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto object-scale-down" src="./assets/img/logo-color.png" alt="Flash Center Logo">
          <h2 class="mt-10 text-center text-2xl font-bold">Acceda a su cuenta</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <div class="space-y-6">
            <div>
              <label for="username" class="text-lg text-center font-medium">Correo electronico</label>
              <div class=" mt-2">
                <input id="username" name="username" type="email" autocomplete="email" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <div class="flex items-center justify-between">
                <label for="login-password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                <div class="text-sm">
                  <a href="#" class="link link-primary font-bold">Olvidaste tu contraseña?</a>
                </div>
              </div>
              <div class="mt-2">
                <input id="login-password" name="password" type="password" autocomplete="current-password" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <button type="submit"
              class="btn btn-primary flex w-full justify-center text-white hover:bg-secondary">Iniciar
              sesión</button>
          </div>
        </div>
        <p class="mt-10 text-center text-sm text-gray-500">
          No tienes una cuenta?
          <a href="/register" class="link link-primary font-bold">Creala aqui!</a>
        </p>
      </form>
    </div>
  </div>



  <!-- Register Form -->
  <div id="register-form-component" class="pt-28">
    <div class="card m-auto max-w-sm shadow-xl">
      <form class="card-body flex min-h-full flex-col justify-center lg:px-8" hx-post="/register"
        hx-target="#register-response">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto object-scale-down" src="./assets/img/logo-color.png" alt="Flash Center Logo">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Registre su cuenta
          </h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <div class="space-y-6">
            <div>
              <label for="register-name" class="block text-sm font-medium leading-6 text-gray-900">Nombre</label>
              <div class="mt-2">
                <input id="register-name" name="name" type="text" autocomplete="name" placeholder="Fulanito" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <label for="register-email" class="block text-sm font-medium leading-6 text-gray-900">Correo
                electronico</label>
              <div class="mt-2">
                <input id="register-email" name="email" type="email" autocomplete="email" placeholder="de.tal@email.com"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <label for="register-password"
                class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
              <div class="mt-2">
                <input id="register-password" name="password" type="password" autocomplete="new-password" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <button type="submit"
                class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">REGISTRARSE</button>
            </div>
          </div>
          <p class="mt-10 text-center text-sm text-gray-600">
            Ya tienes una cuenta?
            <a href="/login" class="link link-primary font-bold">Inicia sesión aqui!</a>
          </p>
        </div>
      </form>
    </div>
  </div>



  <!-- Contact Form -->
  <form id="contact-form-component" class="bg-neutral px-6 py-12 sm:py-12 lg:px-8" action="#" method="POST">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Contactanos</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Como te podemos ayudar?</p>
    </div>
    <div class="mx-auto mt-10 max-w-xl sm:mt-10">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="contact-first-name" class="block text-sm font-semibold leading-6 text-gray-900">Nombre</label>
          <div class="mt-2.5">
            <input type="text" name="first-name" id="contact-first-name" autocomplete="given-name"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="contact-last-name" class="block text-sm font-semibold leading-6 text-gray-900">Apellido</label>
          <div class="mt-2.5">
            <input type="text" name="last-name" id="contact-last-name" autocomplete="family-name"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="contact-email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="contact-email" autocomplete="email"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="contact-phone" class="block text-sm font-semibold leading-6 text-gray-900">Telefono</label>
          <div class="mt-2.5">
            <input type="tel" name="phone" id="contact-phone" autocomplete="tel"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="contact-message" class="block text-sm font-semibold leading-6 text-gray-900">Mensaje</label>
          <div class="mt-2.5">
            <textarea name="message" id="contact-message" rows="4"
              class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="btn btn-primary w-full text-sm font-semibold text-white">ENVIAR MENSAJE</button>
      </div>
    </div>
  </form>
</section>



<!-- File Input Field -->
<input type="file" id="file-input-component" class="file-input file-input-bordered w-full max-w-xs" />